.dicetray img{
 width: auto;
 height: 100vh;
}

.dice img{
    position: relative;
    top: -800px;
    left: 500px;
    width: 8vw;
    height: auto;
    object-fit: contain;
}

.title{
    position: relative;
    width: 20vw;
    height: auto;
    top: -1140px;
    left: 900px;
    z-index: 1;
}

#textField{
    font-family: "Sofia Pro", Arial, Helvetica, sans-serif;
    font-size: 1.30rem;
    color: #DA9655;
}