.dicetray img{
 width: auto;
 height: 100vh;
}

.dice img{
    position: relative;
    top: -800px;
    left: 500px;
    width: auto; /*8vw; */
    height: 8vw; /*auto;*/
    object-fit: contain;
}

.title{
    position: relative;
    top: -1050px;
    left: 870px;
    z-index: 1;
}

.title img{
    width: 20vw;
    height: auto;
}

.title button {
    background-color: transparent;
    border: none;
}

#textField{
    font-family: "Sofia Pro", Arial, Helvetica, sans-serif;
    font-size: 1.30rem;
    color: #DA9655;
    width: 18vw;
}