
.dicetray img {
  width: auto;
  height: 100vh;
}

.dice img {
  position: relative;
  /* top: 0vh;
  left: 0vw; */
  width: auto; /*8vw; */
  height: 16vh; /*auto;*/
  object-fit: contain;
  /* z-index: 1;
  position: relative; */
}

.title {
  position: relative;
  top: -100vh;
  left: 95vh;
  z-index: 1;
}

.title img {
  width: auto;
  height: 20vh;
}

.title button {
  background-color: transparent;
  border: none;
}

#textField {
  font-family: "Sofia Pro", Arial, Helvetica, sans-serif;
  font-size: 2vh;
  color: #da9655;
  width: 19vw;
  position: relative;
  left: 55vh;
  top: -18vh;
}

.diceroll{
  position: relative;
  top: -110vh;
  left: 11vh;
}

.diceroll img{
  width: auto;
  height: 12vh;
  margin-left: 5px;
}

.diceroll button{
  background-color: transparent;
  border: none;
}

.buttons {
  position: relative;
  top: -45vh;
  left: 170vh;
}

.buttons img {
  width: auto;
  height: 12vh;
  margin-left: -10px;
}

.buttons button {
  background-color: transparent;
  border: none;
}

.text h2 {
  font-family: "Draconis", Arial, Helvetica, sans-serif;
  font-size: 15vh;
  color: black;
  width: 48vw;
  line-height: 12.25vh;
  margin-top: -120vh;
  margin-left: 98vh;
}

.alert img{
  display: none;
}

@media print {
  .dicetray img {
    display: none;
  }
  .buttons img {
    display: none;
  }
  #textField {
    display: none;
  }
  .title img {
    display: none;
  }
  .dice-image-2, 
  .dice-image-3, 
  .dice-image-4, 
  .dice-image-5, 
  .dice-image-6 {
   display: none;
  }

  .dice-image-1 {
    margin-left: -35vh;
    margin-top: -25vh;
    z-index: -1;
  }
  
  .text h2 {
    font-size: 16vh;
    line-height: 12.25vh;
    margin-top: 10vh;
    margin-left: 0vh;
    width: 80vh;
    transform: rotate(-90deg);
    z-index: 10;
  }

  html, body{
    height: 99%;
  }
}

@media only screen and (max-width: 768px){
  .alert img{
    width: auto;
    height: 70vh;
  }
}
